body {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  text-align: center;
}

.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
}

.title p {
  color: black;
}

.insert-tasks {
  text-align: center;
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}

.tasks-list {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.task:hover {
  background-color: rgb(170 , 193 , 236);
}

.main-buttons {
  text-align: center;
}
